<div class="container">
    <span class="proposition-count">Proposta Nº 00001</span>

    <img class="approved-image" src="../../../assets/images/approved.png">

    <span class="approved">STATUS: APROVADO</span>

    <ul class="list-approved">
        <li class="list-approved-item">Taxa de 8% ao ano para correntistas;</li>
        <li class="list-approved-item">Taxa de 10% ao ano para não correntistas;</li>
        <li class="list-approved-item">Parcela inicial R$ XXXXXXXXXXXX;</li>
        <li class="list-approved-item">Valor total aprovado: R$ XXXXXXXXXXXXX;</li>
        <li class="list-approved-item">Seguro Só Vamu Security;</li>
        <li class="list-approved-item">Desconto na primeira e na última parcela.</li>
    </ul>
    <app-button-start [routerLink]="''"></app-button-start>
</div>