<div class="container">
    <span class="proposition-count">Proposta Nº 00001</span>

    <img class="reproved-image" src="../../../assets/images/reproved.png" aria-hidden="true">

    <span class="reproved">STATUS: REPROVADO</span>

    <span class="unfortunately-message">Infelizmente não foi possível aprovar seu financiamento. Não desanime, reunimos
        algumas dicas que podem ajudar na
        sua próxima simulação:</span>

    <ul class="list-reproved">
        <li class="list-reproved-item">Mantenha seu CPF em dia e sem restrições;</li>
        <li class="list-reproved-item">Dados de endereço, e-mail, telefone sempre atualizados;</li>
        <li class="list-reproved-item">Melhore seu relacionamento com o banco, movimentando sua conta.</li>

    </ul>
    <app-button-start [routerLink]="''"></app-button-start>
</div>