.error {
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 2px var(--gray);
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.5rem;
    line-height: 40px;
    margin-bottom: 48px;
    text-align: center;
    letter-spacing: 0.15px;
}