.all-information {
    background-color: var(--gray);
    width: 100vw;
    height: 120vh;
}

.title {
    position: absolute;
    width: 117px;
    height: 24px;
    left: 16px;
    top: 86px;
}

.information {
    position: absolute;
    top: 126px;
    width: 100%;
}

.image-logo {
    position: absolute;
    left: 65%;
    top: 75%;
}


@media screen and (max-width: 1124px) {
    .all-information {
        display: flex;
    }

    .image-logo {
        display: none;
        left: 20px;
    }
}