<div class="container">
        <div class="information">
                <h3 class="title-own-house">Conquiste o sonho da casa própria</h3>
                <span class="span-own-house">Em apenas alguns passos fique mais perto de segurar as chaves <span
                                role="img" aria-label="smile">:)</span></span>
                <app-button mat-flat-button class="button-financing" role="button" aria-label="Simular financiamento"
                        [routerLink]="'/proponente'" buttonLabel='SIMULAR FINANCIAMENTO' [isPrimary]="true">
                </app-button>
        </div>
</div>