.container {
    background-color: var(--gray);
    width: 100vw;
    height: 100vh;
}

.title {
    position: absolute;
    width: 117px;
    height: 24px;
    left: 16px;
    top: 86px;
}

.form-residence {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 126px;
    bottom: 0%;
}