fieldset {
    border-style: hidden;
    background: var(--white);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 10px;
}

table {
    margin: 17px;
}

.input-first-line {
    margin: 0 30px 20px 0;
}

.input-second-line {
    margin: 0 30px 20px 0;
}