.approved {
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 2px var(--gray);
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    line-height: 10px;
}

.proposition-count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--black);
    margin: 10px;
}

.approved-image {
    margin: 10px;
}

.approved-status {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--green);
    margin: 10px;
    padding: 0 20% 2% 20%;
    border-bottom: 1px solid var(--gray);
}

.list-approved {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--black);
    margin: 20px;
}

@media screen and (max-width: 1224px) {
    .approved {
        margin: 0 20px;
    }
}