.container {
    width: 100vw;
    height: 135vh;
}

.title {
    position: absolute;
    width: 117px;
    height: 24px;
    left: 16px;
    top: 86px;
}

.approved {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 126px;
    bottom: 0%;
}