.reproved {
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 2px var(--gray);
    border-radius: 4px;
    margin: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    line-height: 10px;
}

.proposition-count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--black);
    margin: 10px;
}

.reproved-image {
    margin: 10px;
}

.reproved-status {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--red);
    margin: 10px;
}

.reproved::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--gray);
    margin-top: 1.5rem;
}

.unfortunately-message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--black);
    margin: 10px;
}

.list-reproved {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--black);
    margin: 10px;
}

@media screen and (max-width: 1224px) {
    .reproved {
        margin: 0 20px;
    }
}