fieldset {
    background-color: var(--white);
    border-radius: 10px;
    border-color: var(--white);
    margin: 10px;
}

table {
    margin: 17px;
}

.input-first-line {
    margin: 0 30px 20px 0;
}

.input-second-line {
    margin: 0 30px 20px 0;
}