.container {
    display: flex;
    align-items: center;
}

.header-span {
    margin-left: 33px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    letter-spacing: 0.15px;
}

@media screen and (max-width: 1124px) {
    mat-toolbar {
        display: flex;
        flex-wrap: wrap;
    }

    .header-image {
        position: static;
    }

    .header-span {
        margin-left: 33px;
        font-size: 1rem;
    }
}