mat-toolbar {
    width: 100vw;
}

.header-image {
    position: static;
    width: 84.54px;
    height: 50px;
    left: 16px;
    top: 10px;
}

.header-span {
    margin-left: 33px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    letter-spacing: 0.15px;
}

@media screen and (max-width: 1124px) {
    mat-toolbar {
        display: flex;
    }

    .header-image {
        position: static;
    }

    .header-span {
        margin-left: 33px;
        font-size: 1rem;
    }
}